body {
    background-image: url("../images/train.jpg");
    background-size: 100%;
   
}

.jumbotron {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.card {
    border: 1px solid #007bff;
    margin: 20px 10px 10px 10px;
}

.formHeader {
    font-weight: bold;
}

#containerTwo {
    margin: 0px 10px 10px 10px;
}